html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after{
    box-sizing: inherit;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .text-area{
    text-align: center;
  }
  
  .plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
    text-align: center;
  }
  
  .plan{
    border: 2px solid grey;
  }
  
  .plan-content{
    width: 100%;
    >ul {
      list-style: none;
      padding:0;
      margin: 40px;
    }
  }